h2 {
  text-align: center;
}

li {
  text-decoration: none;
}

.FilmList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FilmList_Item {
  text-decoration: none;
  margin: 10px;
}
